%p#notice= notice
%p
  %strong Minutes:
  = @user_activity.minutes
%p
  %strong Activity:
  = @user_activity.activity.name
%p
  %strong Comment:
  = @user_activity.comment
= link_to 'Edit', edit_user_activity_path(@user_activity)
|
\#{link_to 'Back', user_activities_path}