%h1 Listing activities
%table
  %thead
    %tr
      %th Name
      %th Points
      %th{colspan: "3"}
  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.name
        %td= activity.points
        %td= link_to 'Show', activity
        - if current_user.try(:admin?)
          %td= link_to 'Edit', edit_activity_path(activity)
          %td= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }

- if current_user.try(:admin?)
  = link_to 'New Activity', new_activity_path